.footer-address {
  display: inline-block;
  margin-bottom: 9px;
  color: $secondaryTextColor;
  font-style: normal;
}

.footer-contacts {
  display: inline-block;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
