.partners {
  display: flex;
}

.thumb:not(:last-child) {
  margin-right: 30px;
}

.partners-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background-color: $primaryBgColor;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accentColor;
  }
}

.partners-logo-svg {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .partners-logo-link:hover &,
  .partners-logo-link:focus & {
    fill: $accentColor;
  }
}
