.permanent-clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $primaryBgColor;
}

.permanent-clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: $titleTextColor;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
