.work {
  padding-bottom: 94px;
  background-color: $primaryBgColor;
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: $titleTextColor;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
